<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/resources/css/frontpageStyle.css">
    <title>Frontpage</title>
</head>
<body>
    <div class="navBarContainer">
        <div class="menu">
            <a href="#" class="burgerMenuIcon" onclick="openMenu()">
                <ion-icon name="menu" size="large"></ion-icon>
            </a>
        </div>
        <div class="searchBar">
            <input type="text" name="word" calss="searchWord">
            <button class="search" type="button">Search</button>
        </div>
        <div class="login">login
            <a href="#" class="anonUserIcon"><ion-icon name="person-sharp" size="large" shape="round"></ion-icon></a>
        </div>
    </div>
    <div class="moviesContainer">

    </div>
    <div class="artistsContainer">

    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>