<!DOCTYPE html>

<head>
    <title>Login to Movie-library</title>
    <script src=""></script>
    <link rel="stylesheet" href="css/loginStyles.css" />
</head>
<header class="header"></header>
<h1 class="welcome">Welcome to Movie library!</h1>

<div class="formClass">
    <form>
        <label>Username:</label>
        <br />
        <input type="text" class="username" name="username" />
        <br />
        <label>Password:</label>
        <br />
        <input type="password" class="password" name="password" />
        <br />
        <input type="submit" class="submit" />
    </form>
</div>

<footer class="footer">This is a footer</footer>
