.navBarContainer {
    display: flex;
    background-color: rgb(154, 94, 232);
}

.searchBar {
    align-self: center;
    flex-grow: 1;
    text-align: center;
}

.menu{
    margin: 1em;
    padding: 1em; 
}

.login {
    margin: 1em;
    align-self: center;
    padding: 1em;
}

ion-icon{
    color: #000;
    background: white;
    padding: 0.1em;
    border-radius: 50%;
    border: 3px solid;
}

.contentsContainer {
    display: flex;
}

.movies {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    flex-grow: 1;
}

.listOfMovies {
    display: flex;
    flex-wrap: wrap;
}

.actors {
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgb(154, 94, 232);
}
