.navBarContainer {
    display: flex;
    background-color: rgb(154, 94, 232);
}

.searchBar {
    align-self: center;
    flex-grow: 1;
    text-align: center;
}

.menu{
    margin: 1em;
    padding: 1em; 
}

.login {
    margin: 1em;
    align-self: center;
}

ion-icon{
    color: #000;
    background: white;
    padding: 0.1em;
    border-radius: 50%;
    border: 3px solid;
}
